body {
    background: #f1935d;
    font-family: 'garamond', 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin:0;
  opacity: 0;
  transition: opacity 0.6s ease;
}

body.page-loaded {
    opacity: 1;
}

body.page-leaving {
    opacity:0;
}

* {
    box-sizing: border-box;
}

nav {
    background: #ED752F;
    color: #212121;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: .5em;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

nav.scrolled {
    background: #dc6216;
}

nav .title {
      grid-column: 1;
    grid-row: 1;
    white-space: nowrap;
}

nav .nav-links {
    grid-column: 1 / -1;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    flex-wrap: wrap;
}

nav .nav-links a {
    color: #212121;
    padding: .5em 1.5em;
    display: inline-block;
    vertical-align: middle;

    box-shadow: inset 0 0 0 0px #212121;

    transition: 
        box-shadow 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;
}

nav .nav-links a:hover {
    box-shadow: inset 0 0 0 3px #212121;
    background: lightsteelblue;
}

nav .nav-image {
 grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: 85px;
    height: 50px;
}

nav .nav-image a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/ca-flag.jpg");
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

nav .nav-image a:hover {
    background-image: url("../images/ca-flag-inversed.jpg");
    transition: all .3s;
}

article {
    background: #ED752F;
    max-width: 1000px;
    width: min(100%, 1000px);
    padding: 1em 2em;
    margin: 1em auto;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}

main {
    margin-top: 170px;
    max-width: 100%;
}

article h2, h3, h4 {
text-align: center;
color: #212121;
}

article .arrows {
text-align: center;
color: #212121;
font-size: 2em;
}

article a:link {
    color: #212121;
    text-decoration: none;
    padding: 0.5em;
    transition: all .3s;
}

article a:visited {
    color: #212121;
}

article a:not(.image-link):hover {
    background: lightsteelblue;
    color:#212121;
}

article a:active {
color:#212121;
}

article img {
    display: block;
    margin-bottom: 1rem;
}

article h2 {
    position: sticky;
    top: 140px;
    background: #ED752F;
    padding: 0.5em 0;
    z-index: 5;
}